.services {
  margin-top: 60px;
  text-align: center;
  font-size: 14px;
  color: #333;
  // padding-left: 62px;
}

.services__wrapper {
  padding: 0 1rem;
}

.services__title {
  font-weight: 700;
  color: #1ab798;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 40px;
}

.services__description {
  line-height: 1.625;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  color: #282528;
  font-size: 16px;
  padding: 0 1rem;
}

.services__title::after {
  content: '';
  height: 1px;
  width: 50px;
  background-color: #babec1;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.services__title::before {
  content: '';
  height: 1px;
  width: 50px;
  background-color: #babec1;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.services--card__container {
  margin-top: 30px;
}


.services__card {
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

// .services__card--iconBox {
// }

.services__card--icon {
  fill: #1ab798;
  width: 30px;
  height: 30px;
}

.services__card--text {
  width: 230px;
  font-size: 14px;
}

.services__card--title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-style: 18px;
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  margin: 5px 0 20px;
  // margin-bottom: 20px;
}

// .services-text {}

.services--card__part2 {
  display: none;
}

.services__img {
  width: 418px;
}

.services--card__part3 {
  margin: auto;
}

.services__card--description {
  font-weight: 400;
  font-family: 'OpenSans', sans-serif;
  font-size: 13px;
  line-height: 1.625;
  width: 205px;
}



@media(min-width:768px) {

  .services {
    margin: auto;
    text-align: center;
    margin-top: 120px;
  }

  .services__wrapper {
    padding: 0 2rem;
    // margin: auto;
    // text-align: center;
  }

  .services__title {
    font-size: 28px;
  }

  .services__title::after {
    height: 2px;
    width: 60px;
  }

  .services__title::before {
    height: 2px;
    width: 60px;
  }

  .services__description {
    // padding-left: 50px;
    // padding-right: 50px;
    font-size: 18px;
    // width: 625px;
    text-align: center;
  }

  .services--card__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .services__card--icon {
    // fill: #1ab798;
    width: 35px;
    height: 35px;
  }

  .services--card__part3 {
    margin: 0;
  }

  // .services--card__part3{
  // margin-left: 80px;
  // }
  .services__card {
    width: 305px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 100px;
  }

  .services__card--title {
    font-size: 18px;
  }

  .services__card--description {
    width: 240px;
    font-size: 13px;
  }
}

@media (min-width: 1200px) {
  .services_title {
    margin-bottom: 50px;
  }

  .services__description {
    font-size: 18px;
    // padding-left: 100px;
    // padding-right:100px;
    width: 965px;
    margin: auto;
    margin-top: 60px;
  }

  .services--card__part1 {
    margin: 0;
    margin-top: 125px;
    padding-left: 30px;
  }

  .services--card__part2 {
    display: block;
    margin-top: 50px;
  }

  .services--card__part3 {
    margin: 0;
    margin-top: 125px;
    padding-right: 40px;
  }

  .services__card--title {
    font-size: 20px;
  }

  .services__card--text {
    font-size: 15px;
  }
}
