.section7{
    background-color:#000;
    background-image: url(../images/section7-background.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem 1rem 0;
}

.footer__headline--text::after{
    content: '';
    background-color:#fff;
    height: 1px;
    width: 70px;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

.footer__headline--text::before{
    content: '';
    display: inline-block;
    background-color:#fff;
    height: 1px;
    width: 70px;
    vertical-align: middle;
    margin: 10px;
}
.footer__headline--text{
    color:#fff;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

.footer__input--box {
    margin: auto;
    text-align: center;
}

.footer__submit{
    font-family: "Open Sans", sans-serif;
    background-color: #31d4e7;
    border-radius: 6px;
    width: 170px;
    height: 50px;
    color:#fff;
    margin: auto;
    text-align: center;
    margin-top: 45px;
    border:none;
    text-transform: uppercase;
    font-size:20px;
}
.footer__name,.footer__email,.footer__message{
    font-family: "Open Sans", sans-serif;
    border-radius: 6px;
    display: block;
    margin: auto;
    margin-top: 28px;
    padding-left:20px;
    font-size: 16px;
    color: rgba(193, 193, 193, 255);
}
.footer__name,.footer__email{
    height: 44px;
    width: 270px;
    border: none;
}
.footer__message{
    font-family: "Open Sans", sans-serif;
    width: 270px;
    height: 174px;
    border:none;
    padding-top: 10px;
}
.footer__second--headline{
    color:#fff;
    margin-top: 58px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.footer__text{
    font-family: "Open Sans", sans-serif;
    color:#6f6f6f;
    text-align: center;
}
.footer__information--text{
    color:#bface2;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    margin-top: 30px;
}

.footer__x--text,.footer__email--text{
    display: block;
}

.footer__last--information{
    content: '';
    display: inline-block;
    background-color: #787878;
    height: 1px;
    width: 100%;
    margin-top: 48px;
}

.footer__template{
    margin-top: 22px;
}

.footer__reserved,.footer__template{
    color: #ababab;
    margin-left: 22px;
    font-family: "Open Sans", sans-serif;
}

.footer__contacts--social{
    margin: auto;
    text-align: center;
    margin-top: 40px;
}

.footer__social--button{
    display: inline;
}

.footer__social--button{
    height: 42px;
    width: 42px;
    border-radius: 50%;
    margin-left: 15px;
    border:none;
}

.footer__facebook{
    background-color: #3b5997;
}
.footer__twitter{
    background-color: #3ec2f3;
}
.footer__linkedin{
    background-coloR:#007ab9;
}
.footer__social--iconFacebook{
    fill:#fff;
    width: 25px;
    height: 25px;
}
.footer__social--iconTwitter{
    fill:#fff;
    width: 25px;
    height: 25px;
}
.footer__social--iconLinfedin{
    fill:#fff;
    width: 25px;
    height: 25px;
}


@media (min-width: 768px){
    .footer__name,.footer__email{
        display: inline;
    }
    .footer__email{
        margin-left: 20px;
    }
    .footer__message{
        width: 570px;
    }
    .footer__reserved,.footer__template{
        display: inline;
        padding-top: 30px;
    }
    .footer__reserved{
        margin: 0px;
    }
    .footer__text{
        margin: auto;
        width: 440px;
    }
    .footer__headline--text{
        font-size: 30px;
        padding-top: 50px;
        padding-block-end: 40px;
    }
}


@media (min-width: 1200px){
    .footer__main{
        display: flex;
        flex-direction: row-reverse;
    }
    .footer__input--box{
        flex-direction: wrap-reverse;
    }
    .footer__second--headline{
        text-align: left;
    }
    .footer__text{
        text-align: left;
        width: 420px;
    }
    .footer__contacts--social{
        text-align: left;
    }
    .footer__information--text{
        text-align: left;
    }
    .footer__submit{
        margin-left: 390px;
    }
    .footer__headline--text{
        padding-block-end: 80px;
    }
    .footer__last--information{
        margin-block-end: 40px; 
    }
}


